#slider1 .swiper {
  position: static;
}

#slider1 .swiper-button-prev,
#slider1 .swiper-button-next {
  top: 0;
  margin-top: 5px;
  border: 1px solid var(--color-accent);
  border-radius: 100%;
  width: 34px;
  height: 34px;
  color: var(--color-accent);
}

#slider1 .swiper-button-prev:after,
#slider1 .swiper-button-next:after {
  font-size: 18px;
  font-weight: 600;
}

#slider1 .swiper-button-prev {
  top: 88.5%;
  right: 100px;
  left: auto;
}

#slider1 .swiper-button-next {
  top: 88.5%;
  right: 30px;
}
